<div class="col-xs-12 studentModule" style="background:url(src/img/5.png) center; background-size:cover;">
	<div class="info col-xs-12">
		

		

		<div class="col-md-8">
			<h2>AEI <span class="icon-podium"></span></h2>
			<p>dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
		</div>
		<div class="col-md-4 text-right">
			<a href="http://virtual.cun.edu.co/aei/" target="_blank" class="button white pull-right">INGRESAR <span class="icon-arrow-right-circle"></span></a>
		</div>

	</div>
</div>