<div class="row mb-xl">
	<div class="col-xs-12 banner pre-medios">
		<h2 class="col-md-8">BIENESTAR VIRTUAL</h2>
	</div>
</div>
<div class="col-xs-12 white-bg mb-lg">
	<div class="col-md-6 text-justify">
		<p>En el portal de bienestar usted encontrará programas y actividades que le permiten reflexionar, revisar sus puntos de vistas y encontrar una serie de herramientas para la toma de decisiones que favorezcan su excelencia académica, calidad de vida, desarrollo humano, recreación, deporte y cultura.</p>
		<h3 class="pink mb-sm">PLAN DE ACCIÓN</h3>
		<p>Los procesos de Bienestar Virtual buscan un acompañamiento al estudiantes de forma virtual en su proceso académico partiendo de una integración de la parte física, mental y psicológica en pro del mejoramiento de la calidad de vida del estudiante en su lugar de estudio, las aplicaciones aquí presentadas buscan la mejora de competencias desde su enfoque social, de salud y artístico que logre complementar los estudios desarrollados, esto para mejorar los lazos de convivencia institucional entre el estudiante virtual y la comunidad cunista.</p>
		<p>Los programas de Bienestar Virtual están enfocados al desarrollo de habilidades a partir de la interacción con la plataforma, induciendo al estudiante a una deducción crítica de las problemáticas institucionales de una forma didáctica, bajo un modelo de aprendizaje.</p>
	</div>
	<div class="col-md-6 col-xs-12 mb-md">
		<div class="videoWrapper">
			<iframe src="https://player.vimeo.com/video/231881423" width="640" height="360" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>
<div class="col-xs-12 mb-lg">
	<hr>
</div>
<div class="col-xs-12 white-bg mb-lg text-center">
	<a href="https://play.google.com/store/apps/details?id=com.AGASISTENCIAS&hl=es_419" target="_blank" class="action button">DESCARGA AG ASISTENCIA MOVIL <span class="icon-smartphone"></span></a>
</div>
<div class="purple-bg col-xs-12 mb-xl">
	<h3 class="mb-sm">SERVICIOS</h3>
	<p class="mb-xl">Visítanos o contactanos a través de nuestro medios informativos.</p>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-4 col-xs-6 shortcuts-container">
				<a data-target="servicios" onclick="scrollGo($(this));">
					<div class="col-xs-12">
						<span class="icon-papers"></span>
						<h4 class="white">SERVICIOS DE ORIENTACIÓN Y ACOMPAÑAMIENTO</h4>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-xs-6 shortcuts-container">
				<a data-target="excelencia" onclick="scrollGo($(this));">
					<div class="col-xs-12">
						<span class="icon-pencil5"></span>
						<h4 class="white">EXCELENCIA ACADÉMICA</h4>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-xs-6 shortcuts-container">
				<a data-target="recreacion" onclick="scrollGo($(this));">
					<div class="col-xs-12">
						<span class="icon-earth"></span>
						<h4 class="white">RECREACIÓN, DEPORTE Y CULTURA</h4>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="white-bg col-xs-12 mb-xl" data-id="excelencia">
	<div class="col-xs-12">
		<h3 class="pink mb-md">EXCELENCIA ACADÉMICA</h3>
		<div class="col-xs-12 col-md-6 text-justify">
			<p>Dentro de esta dinámica académica se reconoce, que el aprendizaje es un proceso continuo que requiere de herramientas, métodos y actitudes que no solamente se desarrollan en el aula, sino en diversos contextos y ambientes que favorecen el desarrollo de competencias y habilidades profesionales. El no saber         cómo enfrentarlo, o hacerlo de manera inapropiada, dan como resultado la frustración y abandono en los estudios. Por ello el estudiante contará con herramientas que le permitan aprender reconociendo y poniendo en práctica las propias habilidades da satisfacción y éxito.</p>

			<p>Para apoyarte en el proceso de aprendizaje, la estrategia que manejaremos, serán varios encuentros a través go to meeting, donde desarrollaremos los siguientes talleres: hábitos o técnicas de estudio, procrastinación y organización del tiempo.</p>

			<p>Cada taller tendrá una parte teórica, práctica y experiencial, facilitando una serie de herramientas que les permita apropiarlas a sus procesos de aprendizaje.</p>
		</div>

		<div class="col-xs-12 col-md-6 text-center">
			<img style="width:80%" src="http://virtual.cun.edu.co/campus/wp-content/uploads/2015/05/bienestar.png">
		</div>
	</div>
</div>
<div class="col-xs-12 mb-lg">
	<hr>
</div>
<div class="white-bg col-xs-12 mb-xl" data-id="servicios">
	<div class="col-xs-12">
		<h3 class="pink mb-md text-right">SERVICIOS DE ORIENTACIÓN Y ACOMPAÑAMIENTO</h3>
		<div class="col-xs-12 col-md-6 text-center">
			<img style="width:80%" src="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/01/Servicio-de-Psicología-II.jpg">
			<hr>
			<h3 class="pink mb-md">Zona de atención</h3>
			<img style="width:80%;" src="http://virtual.cun.edu.co/campus/wp-content/uploads/2015/05/ag_asistencia.png" class="mb-xl">
			<br><br><br><br><br>
			<br><br><br>
			<hr>
			<div class="text-justify">
				<p><b class="pink">¿Cómo acceder a los servicios?</b></p>
				<p>En Bogotá 4864910 y/o la línea de atención gratuita nacional 018000486010.<br>
				La CUN le hará entrega de la tarjeta de ASISTENCIA y allí aparecen los teléfonos de contacto.</p>
				<p><b class="pink"> Horarios de atención:</b></p>
				<p>El horario de atención es de lunes a viernes de 9.00 de la mañana a 7:00 pm y sábados de 9:00 a 12:00 del día, si se trata de emergencia médica puede comunicarse las 24 horas del día.</p>
				<p>Este servicio lo beneficia a usted por pertenecer a la CUN, e incluye también a su grupo familiar.</p>
				<p>¿El (la) Señor(ita) es casado, soltero o vive en unión libre?</p>
				<ul class="text-justify">
					<li>
						<b>Soltero:</b>
						<span>plan cubre sus padres, hermanos e hijos menores de 18 años.</span>
					</li>
					<li>
						<b>Casado(a):</b>
						<span><b>o en unión libre</b>, cubre a su pareja e hijos menores de 18 años.</span>
					</li>
				</ul>
				<br>
				<p><i>Recuerde que para poder atender a sus beneficiarios usted debe comunicarse a la línea de atención y registrar los datos de sus familiares. O también puede realizarlo desde la aplicación</i></p>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 text-right">
			<p class="text-justify">El estudiante y su familia en primer grado de consanguinidad, cuenta con los servicios de AG asistencia, donde brinda atención en urgencias odontológicas, asesoría psicológica, asistencia legal, consejo médico, asistencia nutricional, a través de la línea telefónica las 24 horas y los siete días de la semana.</p>

			<ul class="text-justify">
				<li>
					<b>Atención en psicología</b>
					<span>“Este servicio se presta de forma telefónica y presencial, con nuestros profesionales, pueden tratar temas de relaciones de familia y pareja, temas personales o de individuo, aunque le recuerdo que el psicólogo, no siempre nos acompaña en temas personales o de individuo también nos pueden realzar aportes sobre técnicas y hábitos de estudio, como puedo mejorar mi concentración y en otros casos sobre cómo puedo elaborar mi hoja de vida, redactar mi perfil profesional y hasta como me debo comportar en una entrevista de trabajo”
					</span>
				</li>
				<li>
					<b>Asistencias en Nutrición</b>
					<span>“Nuestros profesionales le guiaran a lograr sus objetivos en caso que requiera bajar de peso, o quizás subir de peso, si eres deportista y requieres aumentar rendimiento o masa muscular o si te interesa iniciar con hábitos para mantener una alimentación saludable” “Recuerde que desde la alimentación se puede mejorar la calidad de vida tanto de ud y su familia”</span>
				</li>
				<li>
					<b>Atención en psicología</b>
					<span>“Este servicio se presta de forma telefónica y presencial, con nuestros profesionales, pueden tratar temas de relaciones de familia y pareja, temas personales o de individuo, aunque le recuerdo que el psicólogo, no siempre nos acompaña en temas personales o de individuo también nos pueden realzar aportes sobre técnicas y hábitos de estudio, como puedo mejorar mi concentración y en otros casos sobre cómo puedo elaborar mi hoja de vida, redactar mi perfil profesional y hasta como me debo comportar en una entrevista de trabajo”
					</span>
				</li>
				<li>
					<b>Asesoría legal</b>
					<span>donde abogados especializados en diferentes temas le guiaran. (Derecho de familia, derecho laboral, derecho civil, derecho comercial, servicios públicos, acciones de tutela, derechos de petición (cualquier requerimiento legal contra la CUN está excluido)</span>
				</li>
				<li>
					<b>Consejo Medico Telefónico</b>
					<span>aquí nuestros médicos le brindaran orientación en su consulta. (Orientación médica relacionada con casos frecuentes como resfriados, indigestión, temperatura, urgencias médicas, orientación en procedimientos de primeros auxilios y por último orientación para reaccionar en forma inmediata frente a dolencias o accidentes sufridos).</span>
				</li>
				<li>
					<b>Atención Médica por Accidentes</b>
					<span>está solamente en caso de accidente con riesgo vital no aplica para preexistencias o enfermedades diagnosticadas.</span>
				</li>
				<li>
					<b>Asistencia odontológica de Urgencia</b>
					<span>Control y manejo del dolor.</span>
				</li>
			</ul>
			<hr>
			<img style="width:80%; text-align:center;" src="http://virtual.cun.edu.co/campus/wp-content/uploads/2015/05/retrato-de-una-hermosa-chica-en-una-camisa-blanca-por-la-manana_2221-669.png">
			<br><br><br>
			<ul class="text-justify col-md-10 col-md-offset-2">
				<p><b class="pink">Para las mujeres:</b></p>
				<li>
					<span> Exámenes preventivos de cáncer en la mujer (si la afiliada pregunta se le explica que consiste en citología, auto-examen de seno y mamografía básica en caso de ser requerida).</span>
				</li>
				<li>
					<span>Asistencias financieras y contables (donde puede tratar Economía del Hogar).</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="col-xs-12 mb-lg">
	<hr>
</div>
<div class="white-bg col-xs-12 mb-xl" data-id="recreacion">
	<div class="col-xs-12">
		<h3 class="pink mb-md">RECREACIÓN, DEPORTE Y CULTURA</h3>
		<div class="col-xs-12 col-md-6 text-justify">
			<p>A través de la práctica libre de diferentes actividades físicas, recreodeportivas y culturales, se busca contribuir a la formación integral, permitiendo el potenciar las habilidades motrices y capacidades artísticas, generación de hábitos saludables, aprovechamiento del tiempo libre y mejoramiento de la salud.</p>

			<p>Usted encontrará a través de unas cápsulas virtuales diversas estrategias metodológicas correspondientes al aprendizaje deportivo, cultural, métodos explicativos, activos, interactivos, participativos y de descubrimiento del aprendizaje.</p>

			<p class="mb-xl">Para mayor información dar clic en el siguiente botón.</p>
			<a href="https://docs.google.com/a/cun.edu.co/forms/d/1HLJooO3p1GTckLzD6MR--MBct5IIyQNX77j_xUBA2c0/viewform?edit_requested=true" target="_blank" class="action button">INSCRÍBETE <span class="icon-clipboard-pencil"></span></a>
			<hr>
			<div class="row container-fluid">
				<div class="videoWrapper">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/nSG9EzwWVak?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-md-6 text-center">
			<img style="width:100%; display:block;" src="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/01/Danzas-1-495x400.jpg" class="mb-md">

			<div class="panel-group text-left" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<a class="pink collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
							<b>Festival de Danza Folclórica ASCUN 2016</b>
						</a>
					</div>
					<div id="collapse1" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="row container-fluid">
								<div class="videoWrapper">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/mLov-z53iZE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a class="pink" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
							<b>CAPSULAS CUN: Danza</b>
						</a>
					</div>
					<div id="collapse2" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="row container-fluid">
								<div class="videoWrapper">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/bWc7TiaEW-A?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
									https://youtu.be/bWc7TiaEW-A
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a class="pink" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
							<b>CAPSULAS CUN: Música (Batería)</b>
						</a>
					</div>
					<div id="collapse3" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="row container-fluid">
								<div class="videoWrapper">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/Kvg_yy5AxU4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a class="pink" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
							<b>CAPSULAS CUN: Fútbol sala</b>
						</a>
					</div>
					<div id="collapse4" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="row container-fluid">
								<div class="videoWrapper">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/zPi7Xe6sLa4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a class="pink" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
							<b>CAPSULAS CUN: Taekwondo</b>
						</a>
					</div>
					<div id="collapse5" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="row container-fluid">
								<div class="videoWrapper">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/8e_jMHQ2kjU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a class="pink" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
							<b>CAPSULAS CUN: Entrenamiento corporal</b>
						</a>
					</div>
					<div id="collapse6" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="row container-fluid">
								<div class="videoWrapper">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/ZO92s1RoFV0?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> 
		</div>
	</div>
</div>