<div class="row">
	<div class="col-xs-12 banner pre-medios">
		<h2 class="col-md-8">CONTACTO</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="videoWrapper">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1672.1116964999655!2d-74.07171380043826!3d4.598634902260719!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99a660cef36d%3A0x15c05c8ff1550065!2sC.U.N+Sede+A!5e0!3m2!1ses!2sus!4v1520285909146" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>
<div class="col-xs-12 col-lg-12">
	<div class="row white-bg">
		<div class="col-xs-12 col-md-5 col-md-offset-1">
			<br><br><br>
			<h3 class="pink mb-sm">COMUNÍCATE CON NOSOTROS</h3>
			<br><br>
			<ul>
				<li>
					<b>Dirección:</b>
					<br>
					<span>Calle 12B No. 4-79</span>
				</li>
				<br>
				<li>
					<b>Teléfono:</b>
					<br>
					<span>Línea de atención en Bogotá 3078180</span>
					<br>
					<span>Línea Gratuita Nacional 018000115411</span>
				</li>
				<br>
				<li>
					<b>E-Mail:</b>
					<br>
					<span><a href="mailto:contacto@cun.edu.co" class="pink">contacto@cun.edu.co</a></span>
				</li>
				<br>
				<li>
					<b>Ciudad:</b>
					<br>
					<span>Bogotá – Colombia</span>
				</li>
				<br>
			</ul>
		</div>

		<div class="col-xs-12 col-md-6 purple-bg">
			<h3 class="pink mb-md">CONTACTO</h3>
			<form action="" id="contact">
				<div class="form-group">
					<label for="name"><span class="icon-user"></span> Nombre:<b>*</b></label>
					<input type="text" class="form-control" name="name" placeholder="Nombre">
				</div>
				<div class="form-group">
					<label for="email"><span class="icon-envelope"></span> E-Mail:<b>*</b></label>
					<input type="email" class="form-control" name="email" placeholder="ejemplo@mail.com">
				</div>
				<div class="form-group">
					<label for="about"><span class="icon-question-circle"></span> Asunto:<b>*</b></label>
					<input type="text" class="form-control" name="about" placeholder="Asunto">
				</div>
				<div class="form-group">
					<label for="message"><span class="icon-text-align-left"></span> Mensaje:<b>*</b></label>
					<textarea rows="3" class="form-control" name="message" placeholder="Mensaje"></textarea>
				</div>
				<button class="lil action">ENVIAR <span class="icon-paper-plane"></span></button>
			</form>
		</div>
	</div>
</div>