<div class="row mb-xl">
	<div class="col-xs-12 banner pre-medios">
		<h2 class="col-md-8">GESTIÓN CON EGRESADOS</h2>
	</div>
</div>
<div class="col-xs-12 white-bg mb-lg">
	<h3 class="mb-sm pink">EXPERIENCIAS<br>
	 CON EGRESADOS</h3>
	<p class="mb-xl">Ingresa a nuestros videos y vive la experiencia de ser egresado de la CUN.</p>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4 col-xs-6 shortcuts-container">
				<div class="videoWrapper">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/MlLLmD9It1s?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 shortcuts-container">
				<div class="videoWrapper">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/jrNLQvdiaNE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 shortcuts-container">
				<div class="videoWrapper">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/_odtAHx9IRE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4 col-xs-6 shortcuts-container">
				<div class="videoWrapper">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/WUoU13Oet0M?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 shortcuts-container">
				<div class="videoWrapper">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/Eww6ci03G6Y?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 shortcuts-container">
				<div class="videoWrapper">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/Trq_KwEejdU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12 mb-md">
	<div class="row banner joinus text-right">
		<h2 class="col-md-12"><br>GESTIÓN CON EGRESADOS</h2>
		<h4 class="col-md-12"><br>Haz parte de nosostros</h4>
	</div>
</div>
<div class="col-xs-12 white-bg mb-lg">
	<div class="col-md-6 text-justify">
		<h3 class="pink mb-md">OBJETIVOS</h3>
		<p class="mb-xl">Identificar el impacto de los egresados de la CUN en el sector externo desde el eje social, académico y laboral; fortalecer el vinculo egresado e institución para generar el intercambio de información que permita la generación de estrategias de mejoramiento continuo en los programas académicos ofrecidos.</p>
		<a href="https://play.google.com/store/apps/details?id=com.AGASISTENCIAS&hl=es_419" target="_blank" class="action button">ACTUALIZA TUS DATOS <span class="icon-clipboard-pencil"></span></a>
	</div>
	<div class="col-md-6 col-xs-12 mb-md text-center">
		<img style="width:80%;" src="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/04/post_egresados.jpg">
	</div>
</div>
<div class="col-xs-12 mb-lg">
	<hr>
</div>
<div class="white-bg col-xs-12 mb-xl" data-id="excelencia">
	<div class="col-xs-12 text-right">
		<div class="col-xs-12 col-md-6 text-center">
			<img style="width:80%" src="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/04/INFOGRAFIA.png">
		</div>
		<div class="col-xs-12 col-md-6 text-left">
			<br><br><br>
			<h3 class="pink mb-md text-right">APOYO LABORAL</h3>
			<p class="text-justify mb-md">La Corporación Unificada Nacional CUN, pone a disposición el programa Apoyo Laboral para estudiantes, egresados, practicantes y empresas; el objetivo es respaldar a los estudiantes en su vinculación al mundo laboral; presentar nuevas ofertas de empleo a los egresados que desean cambiar de trabajo ó recalificar su perfil laboral, y a las empresas aliadas a encontrar personal calificado para cubrir sus necesidades de reclutamiento.</p>
			<a href="http://www.elempleo.com/sitios-empresariales/colombia/corporacion-unificada-nacional-cun/" target="_blank" class="action button lil">APOYO LABORAL <span class="icon-briefcase"></span></a>
			<hr>
			<h3 class="pink mb-md text-right">OBSERVATORIO LABORAL</h3>
			<p class="text-justify mb-sm">El Observatorio Laboral para la Educación, es un sistema de información del Ministerio de Educación Nacional, que permite a las IES a identificar la situación laboral y contexto social del egresado, se identifica esto en 4 momentos; M0: Recién graduados, M1: al año de haber recibido el título, M3 a los tres años de haber recibido el título y M5 a los cinco años de haber recibido el título.</p>
			<p class="text-justify mb-md">La Corporación Unificada Nacional desde diciembre de 2013, a implementado dentro de sus requisitos de grado el diligenciamiento de la encuesta del Observatorio Laboral.</p>
			<a href="http://encuestasole.mineducacion.gov.co/hecaa-encuestas/" target="_blank" class="action button lil">GRADUADO PARTICIPAS <span class="icon-chart-bars"></span></a>
		</div>

	</div>
</div>
<div class="purple-bg col-xs-12">
	<div class="col-xs-12 col-md-10 col-md-offset-1">
		<h3 class="pink mb-md">CONTACTO</h3>
		<form action="" id="contact">
			<div class="form-group">
				<label for="name"><span class="icon-user"></span> Nombre:<b>*</b></label>
				<input type="text" class="form-control" name="name" placeholder="Nombre">
			</div>
			<div class="form-group">
				<label for="email"><span class="icon-envelope"></span> E-Mail:<b>*</b></label>
				<input type="email" class="form-control" name="email" placeholder="ejemplo@mail.com">
			</div>
			<div class="form-group">
				<label for="about"><span class="icon-question-circle"></span> Asunto:<b>*</b></label>
				<input type="text" class="form-control" name="about" placeholder="Asunto">
			</div>
			<div class="form-group">
				<label for="message"><span class="icon-text-align-left"></span> Mensaje:<b>*</b></label>
				<textarea rows="3" class="form-control" name="message" placeholder="Mensaje"></textarea>
			</div>
			<button class="lil action">ENVIAR <span class="icon-paper-plane"></span></button>
		</form>
	</div>
</div>