<div class="row">
	<img style="width:100%" src="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/01/slider_emprendimiento_3.jpg" />
</div>
<div class="row mb-xl">
	<div class="col-xs-12 banner pre-medios">
		<h2 class="col-md-8">EMPRENDIMIENTO</h2>
	</div>
</div>
<div class="col-xs-12 white-bg mb-lg">
	<div class="col-md-4 col-md-offset-1">
		<h4 class="pink">¿QUÉ ES CUNBRE?</h4>
		<p class="text-justify mb-md">Cunbre es una unidad de negocio comprometida en desarrollar el espíritu y la pasión emprendedora con énfasis en el liderazgo, de toda la comunidad cunista elevando el numero de ideas de negocio, empresarios nuevos, empresarios nacientes así como el éxito de los empresarios establecidos.</p>
		<h4 class="pink">¿QUÉ TE OFRECE?</h4>
		<p class="text-justify">Con CUNBRE tendrás la posibilidad de cristalizar su proyecto de vida a través de la implementación una estructura rentable que estimule la generación de ideas de negocio, consolidación de planes de negocio y la consolidación de empresarios establecidos con énfasis en las tics.</p>
	</div>
	<div class="col-md-6 col-xs-12 mb-md">
		<div class="videoWrapper">
			<iframe src="https://player.vimeo.com/video/231881331" width="640" height="360" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>
<div class="col-xs-12 purple-bg mb-lg">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<div class="col-md-4 item-container mb-sm">
				<div class="col-xs-12">
					<span class="icon-cog"></span>
					<p class="text-center">Programas adaptados a la madurez de tu negocio.</p>
				</div>
			</div>
			<div class="col-md-4 item-container mb-sm">
				<div class="col-xs-12">
					<span class="icon-pie-chart"></span>
					<p>Acogemos todo tipo de ideas y te ayudamos a descubrir tu negocio.</p>
				</div>
			</div>
			<div class="col-md-4 item-container mb-sm">
				<div class="col-xs-12">
					<span class="icon-diamond2"></span>
					<p>Implementamos metodologías actuales que aceleran la creatividad y la innovación.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12 white-bg mb-lg">
	<h3 class="mb-md pink">NUESTROS ORGANISMOS</h3>
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<div class="col-md-4 item-container mb-sm">
				<div class="col-xs-12">
					<a href="https://www.youtube.com/watch?v=4M-OCbYYxXs">
						<img style="width:100%" class="mb-md" src="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/01/banco_ideas_1.jpg">
						<h4 class="pink">BANCO DE IDEAS</h4>
					</a>
				</div>
			</div>
			<div class="col-md-4 item-container mb-sm">
				<div class="col-xs-12">
					<a href="http://virtual.cun.edu.co/campus/emprendimiento/manually">
						<img style="width:100%" class="mb-md" src="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/01/post_emprender_1.jpg">
						<h4 class="pink">CAMACUN</h4>
					</a>
				</div>
			</div>
			<div class="col-md-4 item-container mb-sm">
				<div class="col-xs-12">
					<a href="https://www.youtube.com/watch?v=LpxAaKnsTQI">
						<img style="width:100%" class="mb-md" src="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/01/camacun_1.jpg">
						<h4 class="pink">INCUNBA</h4>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12">
	<div class="row banner joinus text-right">
		<h2 class="col-md-12"><br>TESTIMONIOS CUNBRE</h2>
		<h4 class="col-md-12"><br>Emprendedores en gran medida</h4>
	</div>
</div>
<div class="col-xs-12 purple-bg mb-lg">
	<div class="row">
		<br>
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<div class="col-md-4 item-container mb-sm">
				<div class="col-xs-12">
					<img src="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/01/avatar_2-138x180.png" style="width:50%;" class="mb-sm">
					<h3 class="pink">Eliana Castro</h3>
					<p class="pink">Emprendedor en consolidación</p>
					<p class="text-justify">Porque tenemos muchos ideales en nuestra vida por constituir y desarrollar. Debemos esforzarnos mucho por alcanzar nuestros objetivos, tener una visión clara del emprendimiento de eso depende el éxito</p>
					<p class="text-left white">
						<a href="https://www.youtube.com/watch?v=Pbcq-PpQF-M">Testimonio Cunbre</a>
					</p>
				</div>
			</div>
			<div class="col-md-4 item-container mb-sm">
				<div class="col-xs-12">
					<img src="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/01/avatar_3-138x180.png" style="width:50%;" class="mb-sm">
					<h3 class="pink">Jesús Chilito</h3>
					<p class="pink">Emprendedor en consolidación</p>
					<p class="text-justify">Significa consolidar unos sueños y metas. Aceptar ser independiente.</p>
					<p class="text-left white">
						<a href="https://www.youtube.com/watch?v=Pbcq-PpQF-M">Testimonio Cunbre</a>
					</p>
				</div>
			</div>
			<div class="col-md-4 item-container mb-sm">
				<div class="col-xs-12">
					<img src="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/01/avatar_1-138x180.png" style="width:50%;" class="mb-sm">
					<h3 class="pink">Nataly Rodríguez</h3>
					<p class="pink">Emprendedor en consolidación</p>
					<p class="text-justify">Proceso de guianza de los docentes ha sido muy importante y el contenido aporta bastante para desarrollar todo el plan de negocios.</p>
					<p class="text-left white">
						<a href="https://www.youtube.com/watch?v=Pbcq-PpQF-M">Testimonio Cunbre</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12 white-bg mb-lg">
	<h3 class="mb-xl pink">¿CÓMO PERTENECER A<br class="hidden-xs">
	NUESTRO SELECTO GRUPO?</h3>
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<div class="col-md-3 mb-lg text-center">
				<a href="http://virtual.cun.edu.co/wp-content/uploads/2016/01/INSTRUCTIVO-DE-INSCRIPCIO%CC%81N-BANCO-DE-IDEAS.pdf" target="_blank" class="action button lil col-xs-12">REQUISITOS <span class="icon-list2"></span></a>
			</div>
			<div class="col-md-3 mb-lg text-center">
				<a href="http://cunbre.weebly.com/contenidos.html" target="_blank" class="action button lil col-xs-12">BLOG <span class="icon-news"></span></a>
			</div>
			<div class="col-md-3 mb-lg text-center">
				<a href="http://cunbre.weebly.com/pre-inscriacutebete.html" target="_blank" class="action button lil col-xs-12">PRE-INSCRIBIRTE <span class="icon-clipboard-pencil"></span></a>
			</div>
			<div class="col-md-3 mb-lg text-center">
				<a href="https://www.youtube.com/playlist?list=PLqXqBpLeL24IyJUhd9XrUa5WQhqnlNSps" target="_blank" class="action button lil col-xs-12">EXPERIENCIAS <span class="icon-users"></span></a>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12 mb-lg">
	<hr>
</div>
<div class="col-xs-12 white-bg mb-lg">
	<div class="col-md-3 pink text-right">
		<h3>CON EL APOYO DE</h3>
		<br>
		<span style="font-size:5em" class="icon-chevron-right-circle"></span>
	</div>
	<div class="col-md-9">
		<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<div class="col-md-3 mb-lg text-center">
				<a href="http://comunidad.udistrital.edu.co/zascatecnologia/" target="_blank">
					<img style="width:100%;" src="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/01/partner_logo_zasca.png" />
				</a>
			</div>
			<div class="col-md-3 mb-lg text-center">
				<a href="http://virtual.cun.edu.co/wp-content/uploads/2016/01/INSTRUCTIVO-DE-INSCRIPCIO%CC%81N-BANCO-DE-IDEAS.pdf" target="_blank">
					<img style="width:100%;" src="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/01/partner_logo_imm.png" />
				</a>
			</div>
			<div class="col-md-3 mb-lg text-center">
				<a href="http://www.connectbogota.org/es/" target="_blank">
					<img style="width:100%;" src="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/01/partner_logo_connect.png" />
				</a>
			</div>
			<div class="col-md-3 mb-lg text-center">
				<a href="http://www.fondoemprender.com/SitePages/Home.aspx" target="_blank">
					<img style="width:100%;" src="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/01/partner_logo_emprender.png" />
				</a>
			</div>
		</div>
	</div>
	</div>
</div>