<div class="row mb-xl">
	<div class="col-xs-12 banner pre-medios">
		<h2 class="col-md-8">COOPERACIÓN<br class="hidden-xs">
		INTERINSTITUCIONAL</h2>
	</div>
</div>
<div class="col-xs-12 white-bg mb-lg">
	<div class="col-md-5 col-md-offset-1">
		<br><br>
		<h3 class="pink mb-md">NUESTRO OBJETIVO</h3>
		<p class="text-justify mb-md">La CUN aumenta y mejora su <b>Relacionamiento y Posicionamiento Institucional</b> como actor de desarrollo mediante la gestión de proyectos de transformación social y fuentes alternativas de captación de recursos (Cooperación Internacional y movilización de recursos).</p>
	</div>
	<div class="col-md-5 col-xs-12 mb-md text-center">
		<img style="width:80%;" src="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/04/identidad.jpg">
	</div>
</div>
<div class="col-xs-12 mb-xl">
	<hr>
</div>
<div class="col-xs-12 white-bg mb-lg text-right">
	<div class="col-md-5 col-md-offset-1 col-xs-12 mb-md text-center">
		<img style="width:80%;" src="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/04/alianza.jpg">
	</div>
	<div class="col-md-5">
		<br><br>
		<h3 class="pink mb-md">NUESTRO IDENTIDAD</h3>
		<p class="text-justify mb-md">Comprometidos en la consolidación de alianzas con socios de Cooperación para la transformación social.</p>
	</div>
</div>
<div class="col-xs-12 mb-xl">
	<hr>
</div>
<div class="col-xs-12 white-bg mb-lg">
	<div class="col-md-5 col-md-offset-1">
		<br><br>
		<h3 class="pink mb-md">NUESTRO COMPONENTES</h3>
		<ul>
		    <li>Gestión de Proyectos</li>
		    <br>
		    <li>Gestión de Recursos</li>
		    <br>
		    <li>Comunicación y Relacionamiento</li>
		</ul>
	</div>
	<div class="col-md-5 col-xs-12 mb-md">
		<br><br>
		<h3 class="pink mb-md">NUESTRAS ÁREAS TEMÁTICAS</h3>
		<ul>
		    
        <li>Ciencia, comunicaciones, tecnología e innovación, Sostenibilidad y Desarrollo Social</li>
        <li>Mujer y Desarrollo, Agricultura y Desarrollo rural, Arte, Cultura y Humanidades</li>
        <li>Posconflicto, Educación, Desarrollo Económico y Salud</li>
		</ul>
	</div>
</div>
<div class="purple-bg col-xs-12">
	<div class="col-xs-12 col-md-10 col-md-offset-1">
		<h3 class="pink mb-md">CONTACTO</h3>
		<form action="" id="contact">
			<div class="form-group">
				<label for="name"><span class="icon-user"></span> Nombre:<b>*</b></label>
				<input type="text" class="form-control" name="name" placeholder="Nombre">
			</div>
			<div class="form-group">
				<label for="email"><span class="icon-envelope"></span> E-Mail:<b>*</b></label>
				<input type="email" class="form-control" name="email" placeholder="ejemplo@mail.com">
			</div>
			<div class="form-group">
				<label for="about"><span class="icon-question-circle"></span> Asunto:<b>*</b></label>
				<input type="text" class="form-control" name="about" placeholder="Asunto">
			</div>
			<div class="form-group">
				<label for="message"><span class="icon-text-align-left"></span> Mensaje:<b>*</b></label>
				<textarea rows="3" class="form-control" name="message" placeholder="Mensaje"></textarea>
			</div>
			<button class="lil action">ENVIAR <span class="icon-paper-plane"></span></button>
		</form>
	</div>
</div>