<div class="row mb-xl">
	<div class="col-xs-12 banner pre-medios">
		<h2 class="col-md-8">INTERNACIONALIZACIÓN</h2>
	</div>
</div>
<div class="col-xs-12 white-bg mb-lg">
	<div class="col-md-4 col-md-offset-2 col-xs-12 mb-md">
		<div class="videoWrapper">
			<iframe src="https://player.vimeo.com/video/231881331" width="640" height="360" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-md-4">
		<br>
		<h3 class="pink">GENERA LA CULTURA DE</h3>
		<p>internacionalización, alianzas estratégicas con instituciones de educación superior, organismos multilaterales, organismos de cooperación internacional, con el fin de buscar transferencia de conocimiento y fortalecer los programas y en general a toda la comunidad cunista.</p>
	</div>
</div>
<div class="col-xs-12 mb-lg">
	<hr>
</div>
<div class="col-xs-12 col-lg-10 col-lg-offset-1 text-center mb-xl">
	<div class="row white-bg">
		<div class="col-xs-12 col-md-6">
			<h3 class="pink mb-sm">MISIÓN</h3>
			<p class="text-justify">Internacionalización tiene como misión consolidar el proceso de internacionalización para la inserción de la comunidad cunista en el ámbito internacional y de esta manera formar profesionales con una visión multicultural y de emprendimiento global, a través de las áreas de convenios, cooperación y movilidad internacional.</p>
		</div>

		<div class="col-xs-12 col-md-6">
			<h3 class="pink mb-sm">VISIÓN</h3>
			<p class="text-justify">Internacionalización será un componente transversal para la ejecución de los objetivos misionales de la CUN, docencia, investigación y proyección social y de esta manera ser reconocida de nacional e internacionalmente por su contribución a la transformación social.</p>
		</div>
	</div>
</div>
<div class="purple-bg col-xs-12 mb-xl">
	<h3 class="mb-md">MOVILIDAD ACADÉMICA</h3>
	<div class="col-xs-12 col-md-6">
		<br><br><br>
		<p class="text-justify mb-lg">Situación académica en la cual un miembro de la comunidad Cunista tiene la oportunidad de participar virtual o presencialmente de manera temporal y con un propósito específico de orden formativo, investigativo o de proyección social con otra institución de educación superior u organización nacional o internacional.</p>
		<a href="http://internacionalizacioncun.weebly.com/requisitos.html" target="_blank" class="action button">REQUISITOS <span class="icon-list2"></span></a>
	</div>

	<div class="col-xs-12 col-md-6 text-center">
		<img style="width:80%" src="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/01/movilidad_acad%C3%A9mica.jpg">
	</div>
</div>
<div class="col-xs-12 text-center">
	<h3 class="pink mb-xl">ENLACES</h3>

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-4 col-xs-6 shortcuts-container">
				<a href="https://www.cun.edu.co/estudiantes/internacionalizaci%C3%B3n.html" target="_blank">
					<div class="col-xs-12">
						<span class="icon-papers"></span>
						<h5 class="pink">NOTICIAS INTERNACIONALES</h5>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-xs-6 shortcuts-container">
				<a href="http://virtual.cun.edu.co/category/blog-internacional/" target="_blank">
					<div class="col-xs-12">
						<span class="icon-pencil5"></span>
						<h5 class="pink">BLOG INTERNACIONAL</h5>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-xs-6 shortcuts-container">
				<a href="http://internacionalizacioncun.weebly.com/convenios.html" target="_blank">
					<div class="col-xs-12">
						<span class="icon-earth"></span>
						<h5 class="pink">CONVENIOS INTERNACIONALES</h5>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="purple-bg col-xs-12">
	<div class="col-xs-12 col-md-4">
		<h3 class="pink mb-md">CONTACTO</h3>
		<form action="" id="contact">
			<div class="form-group">
				<label for="name"><span class="icon-user"></span> Nombre:<b>*</b></label>
				<input type="text" class="form-control" name="name" placeholder="Nombre">
			</div>
			<div class="form-group">
				<label for="email"><span class="icon-envelope"></span> E-Mail:<b>*</b></label>
				<input type="email" class="form-control" name="email" placeholder="ejemplo@mail.com">
			</div>
			<div class="form-group">
				<label for="about"><span class="icon-question-circle"></span> Asunto:<b>*</b></label>
				<input type="text" class="form-control" name="about" placeholder="Asunto">
			</div>
			<div class="form-group">
				<label for="message"><span class="icon-text-align-left"></span> Mensaje:<b>*</b></label>
				<textarea rows="3" class="form-control" name="message" placeholder="Mensaje"></textarea>
			</div>
			<button class="lil action">ENVIAR <span class="icon-paper-plane"></span></button>
		</form>
	</div>

	<div class="col-xs-12 col-md-8">
		<h3 class="pink mb-md">UBICACIÓN</h3>
		<div class="videoWrapper">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1672.1116964999655!2d-74.07171380043826!3d4.598634902260719!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99a660cef36d%3A0x15c05c8ff1550065!2sC.U.N+Sede+A!5e0!3m2!1ses!2sus!4v1520285909146" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>