<div class="row container-fluid">
	<div class="videoWrapper">
		<iframe src="https://player.vimeo.com/video/237988710" width="640" height="360" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
<div class="col-xs-12">
	<div class="row banner joinus">
		<h2 class="col-md-8"><br>ÚNETE AHORA A LA<br class="hidden-xs">
		CUN VIRTUAL</h2>
		<div class="col-md-4 text-right">
			<br><br>
			<button class="white" type="">INSCRIBIRSE <span class="icon-arrow-right-circle"></span></button>
		</div>
	</div>
</div>
<div class="col-xs-12 purple-bg">
	<div class="col-xs-12 mb-xl">
		<h2>¿POR QUÉ ESTUDIAR<br>
		EN LA CUN?</h2>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<div class="col-md-4 item-container mb-xl">
				<div class="col-xs-12">
					<span class="icon-medal-first"></span>

					<h4 class="mb-sm">PROGRAMA PIONERO</h4>
					<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
			<div class="col-md-4 item-container mb-xl">
				<div class="col-xs-12">
					<span class="icon-shuffle"></span>

					<h4 class="mb-sm">FORMACIÓN FLEXIBLE</h4>
					<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
			<div class="col-md-4 item-container mb-xl">
				<div class="col-xs-12">
					<span class="icon-papers"></span>

					<h4 class="mb-sm">FORMACIÓN POR COMPETENCIAS</h4>
					<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-4 item-container mb-xl">
				<div class="col-xs-12">
					<span class="icon-license2"></span>

					<h4 class="mb-sm">DOCENTES CAPACITADOS</h4>
					<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
			<div class="col-md-4 item-container mb-xl">
				<div class="col-xs-12">
					<span class="icon-podium"></span>

					<h4 class="mb-sm">TRES TÍTULOS</h4>
					<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
			<div class="col-md-4 item-container mb-xl">
				<div class="col-xs-12">
					<span class="icon-library"></span>

					<h4 class="mb-sm">BIBLIOTECA VIRTUAL</h4>
					<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
		</div>
	</div>
</div>