<div class="row mb-xl">
	<div class="col-xs-12 banner pre-medios">
		<h2 class="col-md-8">GESTIÓN DE<br class="hidden-xs">
		PRÁCTICAS</h2>
	</div>
</div>
<div class="col-xs-12 white-bg mb-lg">
	<div class="col-md-10 col-md-offset-1">
		<h3 class="pink mb-md">PRÁCTICAS Y<br class="hidden-xs">
		DESARROLLO PROFESIONAL</h3>
		<p class="text-justify mb-md">Durante la ejecución de las prácticas, el estudiante CUN tendrá la oportunidad de, aplicar y complementar conocimientos y competencias adquiridas en cada ciclo de formación, adicional tendrá el espacio para fomentar su desarrollo profesional y personal mediante talleres para fortalecer competencias blandas, con el fin de permitirle al estudiante realizar labores propias de su formación académica en entidades públicas o privadas de alto reconocimiento a nivel nacional, elevando su nivel de competitividad laboral.</p>
		<hr class="mb-md">
		<a href="http://bienestaru.cun.edu.co:83/practicas/login.php" target="_blank" class="action button">INGRESO A SIPRAC <span class="icon-exit-right"></span></a>
	</div>
</div>
<div class="col-xs-12">
	<div class="row banner joinus text-right">
		<h2 class="col-md-12"><br>CASOS DE ÉXITO</h2>
		<h4 class="col-md-12"><br>Testimonios de estudiantes, que han realizados sus prácticas del ciclo propedeudico hasta su fase Profesional</h4>
	</div>
</div>
<div class="col-xs-12 purple-bg mb-lg">
	<div class="col-md-6 col-xs-12 mb-md">
		<br>
		<div class="videoWrapper">
			<iframe width="348" height="261" src="https://www.youtube.com/embed/LQPQK9mEGqc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-md-6">
		<br>
		<h4 class="pink">Sé éxitoso laboralmente</h4>
		<br>
		<ul>
			<li>Ser proactivo en tu profesión</li>
			<li>Acatar todo tipo de conocimiento inherente al ejercicio de nuestra labor</li>
			<li>Tener claro en que área me voy a desempeñar</li>
			<li>Mejorar como persona y profesional</li>
			<li>Aportar a la sociedad, lo aprendido</li>
			<li>Apasionarme por lo que me gusta</li>
			<li>Realizar mi labor con calidad</li>
		</ul>
		<br>
		<div class="col-xs-12">
			<div class="col-md-4 item-container mb-xl">
				<div class="col-xs-12">
					<a href="http://www.skype.com/es/">
						<span class="icon-telephone"></span>
						<h4 class="pink">LLAMADA</h4>
					</a>
				</div>
			</div>
			<div class="col-md-4 item-container mb-xl">
				<div class="col-xs-12">
					<a href="http://www.eltiempo.com/archivo/documento/CMS-12384346">
						<span class="icon-bullhorn"></span>
						<h4 class="pink">NOTICIAS</h4>
					</a>
				</div>
			</div>
			<div class="col-md-4 item-container mb-xl">
				<div class="col-xs-12">
					<a href="http://virtual.cun.edu.co/apuntate-y-se-exitoso-laboralmente/">
						<span class="icon-clipboard-empty"></span>
						<h4 class="pink">LLAMADA</h4>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12 white-bg mb-lg">
	<div class="col-md-10 col-md-offset-1">
		<h3 class="pink mb-md">MAYOR INFORMACIÓN</h3>
		<p class="text-justify mb-md">Para mayor información da clic en el siguiente botón.</p>
		<hr class="mb-md">
		<a href="http://bienestaru.cun.edu.co:83/practicas/login.php" target="_blank" class="action button">GESTIÓN DE PRÁCTICAS <span class="icon-link"></span></a>
	</div>
</div>