<div class="row mb-xl">
	<div class="col-xs-12 banner pre-medios">
		<h2 class="col-md-8">DIRECCIÓN Y PRODUCCIÓN DE MEDIOS AUDIOVISUALES</h2>
	</div>
</div>
<div class="col-xs-12 white-bg mb-lg">
	<div class="col-md-6 col-xs-12 mb-md">
		<img src="src/img/video_img.jpg" class="start-video col-md-9 col-xs-12 pull-right">
	</div>
	<div class="col-md-4">
		<br>
		<h3 class="pink">ACERCA DE</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
	</div>
</div>
<div class="col-xs-12 mb-lg">
	<hr>
</div>
<div class="col-xs-12 text-center">
	<h3 class="pink mb-xl">ATAJOS</h3>

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-3 col-xs-6 shortcuts-container">
				<div class="col-xs-12">
					<span class="icon-clipboard-pencil"></span>
					<h5 class="pink">INSCRIBIRSE</h5>
				</div>
			</div>
			<div class="col-md-3 col-xs-6 shortcuts-container">
				<div class="col-xs-12">
					<span class="icon-document2"></span>
					<h5 class="pink">PENSUM</h5>
				</div>
			</div>
			<div class="col-md-3 col-xs-6 shortcuts-container">
				<div class="col-xs-12">
					<span class="icon-bag-dollar"></span>
					<h5 class="pink">PAGOS</h5>
				</div>
			</div>
			<div class="col-md-3 col-xs-6 shortcuts-container">
				<div class="col-xs-12">
					<span class="icon-calendar-full"></span>
					<h5 class="pink">HORARIOS</h5>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12 white-bg mb-xl">
	<ul class="nav nav-tabs row">
		<li class="col-xs-4 active">
			<a class="col-xs-12" data-toggle="tab" href="#home"><span class="icon-license"></span> Técnico en procesos audiovisuales</a>
		</li>
		<li class="col-xs-4">
			<a class="col-xs-12" data-toggle="tab" href="#menu1"><span class="icon-license"></span> Tecnólogo en procesos audiovisuales</a>
		</li>
		<li class="col-xs-4">
			<a class="col-xs-12" data-toggle="tab" href="#menu2"><span class="icon-license"></span> Profesional en dirección y producción de medios audiovisuales</a>
		</li>
	</ul>

	<div class="tab-content row mb-xl">
		<div id="home" class="tab-pane fade in active">
			<div class="tab-text col-md-6 col-xs-12">
				<h4 class="mb-sm"><span class="icon-user"></span> PERFIL DEL ASPIRANTE</h4>
				<p class="text-justify mb-md">Si estás en constante contacto con la tecnología de punta, tienes intereses por la fotografía, pasión por la producción de videos, si te apasiona transformar tus ideas en productos audiovisuales, tu carrera es Dirección y producción de medios audiovisuales. En la CUN obtendrás formación para adquirir la capacidad de manejar, planear y dirigir cualquier tipo de producción.</p>

				<h4 class="mb-sm"><span class="icon-license"></span> PERFIL DEL EGRESADO</h4>
				<p class="text-justify mb-md">Si estás en constante contacto con la tecnología de punta, tienes intereses por la fotografía, pasión por la producción de videos, si te apasiona transformar tus ideas en productos audiovisuales, tu carrera es Dirección y producción de medios audiovisuales. En la CUN obtendrás formación para adquirir la capacidad de manejar, planear y dirigir cualquier tipo de producción.</p>

				<h4 class="mb-sm"><span class="icon-briefcase"></span> PERFIL LABORAL</h4>
				<p class="text-justify mb-md">Si estás en constante contacto con la tecnología de punta, tienes intereses por la fotografía, pasión por la producción de videos, si te apasiona transformar tus ideas en productos audiovisuales, tu carrera es Dirección y producción de medios audiovisuales. En la CUN obtendrás formación para adquirir la capacidad de manejar, planear y dirigir cualquier tipo de producción.</p>
			</div>
			<div class="tab-image hidden-xs">

			</div>
		</div>
		<div id="menu1" class="tab-pane fade">
			<h3>Menu 1</h3>
			<p>Some content in menu 1.</p>
		</div>
		<div id="menu2" class="tab-pane fade">
			<h3>Menu 2</h3>
			<p>Some content in menu 2.</p>
		</div>
	</div>
</div>