<div class="row mb-xl">
	<div class="col-xs-12 banner pre-medios">
		<h2 class="col-md-8">BLOG</h2>
	</div>
</div>
<div class="col-xs-12 white-bg mb-lg">
	<h1 class="pink mb-lg text-center">DESTACADO</h1>
	
	<div class="blog-highlight">
		<div class="col-md-6 col-xs-12 mb-md">
			<img src="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/07/DSC08653.jpg" class="start-video col-md-9 col-xs-12 pull-right">
		</div>
		<div class="col-md-4">
			<h4 class="post-title">CAUTIVADA POR MÉXICO (Intercambio 2016 I)</h4>
			<p class="post-info">Julio 5, 2016</p>
			<p class="post-text">Luisa María Reinoso estudiante cunista quien tuvo la oportunidad de realizar semestre de intercambio en UMAD México cuenta su gran experiencia, Luisa es de Ibagué, eligió estudiar Diseño de Modas porque considera que el diseño va más allá de ser un simple dibujo, pues requiere de investigación, creatividad y visión por parte del diseñador.</p>
			<a class="button lil action">VER MÁS <span class="icon-eye"></span></a>
		</div>
	</div>
</div>
<div class="col-xs-12 mb-lg">
	<hr>
</div>
<div class="col-md-10 col-md-offset-1 col-xs-12 mb-xl">
	<div class="container white-bg">
		<div class="col-xs-6 col-md-4 col-lg-3">
			<div class="blog-post col-xs-12" data-image="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/07/DSC08653.jpg">
				<div class="post-content">
					<span class="post-title">CAUTIVADA POR MÉXICO (Intercambio 2016 I)</span>
					<p class="post-info">Julio 5, 2016</p>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4 col-lg-3">
			<div class="blog-post col-xs-12" data-image="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/07/DSC08653.jpg">
				<div class="post-content">
					<span class="post-title">CAUTIVADA POR MÉXICO (Intercambio 2016 I)</span>
					<p class="post-info">Julio 5, 2016</p>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4 col-lg-3">
			<div class="blog-post col-xs-12" data-image="http://virtual.cun.edu.co/campus/wp-content/uploads/2016/07/DSC08653.jpg">
				<div class="post-content">
					<span class="post-title">CAUTIVADA POR MÉXICO (Intercambio 2016 I)</span>
					<p class="post-info">Julio 5, 2016</p>
				</div>
			</div>
		</div>
		
	</div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".blog-post").each(function() {
			var img = $(this).attr('data-image');

			console.log(img)

			$(this).css('background-image', 'linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0)), url('+img+')');
		});
	});
</script>