* {
	margin:0;
	padding:0;
}

html, body {
	top:0;
}

html {
	height:100%;
}

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.46429;
    color: #FFFFFF;
    height:100%;
    overflow-x:hidden;
}

h1, h2, h3, h4, h5 {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight:700;
	margin:0;
	text-transform:uppercase;
}

a:visited, a:focus, a:hover {
	color:#ec297b;
}

.pink {
	color:#ec297b;
}

.white {
	color:#FFFFFF !important;
}

h1.pink, h2.pink, h3.pink, h4.pink, h5.pink {
	color:#ec297b;
}

h1.white, h2.white, h3.white, h4.white, h5.white {
	color:#FFFFFF;
}

.white-bg {
	color:#808080;
}

.white-bg ul li {
	color:#652d8f;
}

.white-bg ul li b:after {

}

.white-bg ul li span {
	color:#808080;
}

.purple-bg {
	background:#652d8f;
	padding:30px 60px;
}

.mb-none {
  margin-bottom: 0;
}
.mb-xs {
  margin-bottom: 5px;
}
.mb-sm {
  margin-bottom: 10px;
}
.mb {
  margin-bottom: 20px;
}
.mb-md {
  margin-bottom: 30px;
}
.mb-lg {
  margin-bottom: 40px;
}
.mb-xl {
  margin-bottom: 60px;
}

input {
	border:none;
	border-radius:5px;
	margin:10px auto;
	display:block;
	padding:7px 5px;
	box-sizing:border-box;
	width:100%;
	font-size:0.9em;
	color:#6F6F6F;
}

.form-group label {
	font-weight:300;
	color:#ec297b;
}

textarea {
	resize:none;
}

button {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight:700;
	padding:7px 15px;
	font-size:1.5em;
	border-radius:5px;
	border:none;
}

a.button {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight:700;
	padding:7px 15px;
	font-size:1.5em;
	border-radius:5px;
	border:none;
	text-decoration:none;
}

a.button:hover {
	text-decoration:none;
}

button.lil, a.button.lil {
	padding:7px 15px;
	font-size:1em;
}

button.action, a.button.action {
	background:#ec297b;
	color:#FFFFFF;
}

button.white, a.button.white {
	color:#ec297b !important;
	background:#FFFFFF;
}

hr {
	border-color:#E2E2E2;
}

.header {
	text-align:center;
	padding:5px 15px;
	background:white;
	position:fixed;
	top:0;
	left:0;
	z-index:10000;
	box-shadow:0 0 7px rgba(0,0,0,0.3);
	color:#ec297b;
	font-size:1.5em;
	vertical-align:middle;
	height: 40px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);

}

.header .menu-logo {
	height:30px;
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	top:5px;
}

.header span:hover {
	cursor:pointer;
}

.panel-heading a {
	margin-left:25px;
}

.panel-heading a:before {
	content:'-';
	font-size:1em;
	font-weight:700;
	border:solid 1px #ec297b;
	width:20px;
	height:20px;
	border-radius:50%;
	position:absolute;
	left:30px;
	text-align:center;
	vertical-align:middle;
	line-height:18px;
}

.panel-heading .collapsed:before {
	content:'+'}

/*====*/

.wrapper {
	position:relative;
}

#side-menu {
	position:fixed;
	min-height:100vh;
	background:#FFFFFF;
	box-shadow:0 0 7px rgba(0,0,0,0.3);
	z-index:100;
	overflow-y:auto;
}

.menu-head {
	padding:15px;
	background: linear-gradient(360deg, #9d288e, #d72786);
	height:90px;
}

.login-form {
	text-align:center;
	background:#D3D3D3;
	border-radius:5px;
	padding:15px;
	box-sizing:border-box;
	position:relative;
	bottom:25px;
	border:solid 3px white;
}

.login-form h4 {
	color:#ec297b;
}

.login-form hr {
	border-color:#B4B4B4;
}

.login-form .forgot {
	color:#ec297b;
	font-size:0.9em;
	font-style:italic;
}

.menu-content {
	text-align:right;
	list-style-type:none;
	padding:0 15px;
	color:#652d8f;
}

.menu-content li {
	height:6.5vh;
	display:block;
	font-weight:400;
	position:relative;
	line-height:6.5vh;
}

.menu-content li:hover {
	cursor:pointer;
	color:#ec297b;
}

.menu-content li.active {
	color:#ec297b;
}

.menu-content li.active:after {
	content:'';
	width: 0; 
	height: 0; 
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent; 
	border-right:7px solid #ec297b;
	position:absolute;
	top:2.3vh;
	right:-15px;
	display:block;
}

.menu-content li.student {
	font-weight:700;
}

.menu-content hr {
	border-color:#d3d3d3;
	margin:5px 0 15px 0;
}

.menu-content .social {
	font-size:1.5em;
}

.menu-content .social a {
	color:inherit;
}

.menu-content .social a:hover, .menu-content .social a:focus {
	text-decoration:none;
}

.menu-content .social i {
	margin:0 5px;
}

.menu-content .social i:hover {
	cursor:pointer;
	color:#ec297b;
}

.sub-menu {
	display:none;
	position:fixed;
	height:100vh;
	background:#FFFFFF;
	color:#000000;
	top:0;
	z-index:1;
	box-shadow:0 3px 3px rgba(0,0,0,0.3);
	list-style-type:none;
	animation-duration: 0.3s;
}

.sub-menu.active {
	display:block;
}

.sub-menu li {
	height:20%;
	display:block;
	font-weight:400;
	position:relative;
	vertical-align:middle;
	text-align:center;
	display:table;
	border-bottom:solid 1px #efefef;
	cursor:pointer;
	width:100%;
}

.sub-menu.student li {
	height:11.1111111%;
}

.sub-menu li a:hover, .sub-menu li a:focus {
	text-decoration:none;
}

.sub-menu li.active .title {
	color:#ec297b;
}

.sub-menu li.active:after {
	content:'';
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-left:10px solid #FFFFFF;
	position:absolute;
	top:42%;
	right:-25px;
	display:block;
}

.sub-menu li:hover .title {
	color:#ec297b;
	cursor:pointer;
}

.sub-menu li .wrapper {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.sub-menu li span[class^="icon-"] {
	font-size:3em;
	display:block;
	color:#ec297b;
	margin-bottom:10px;
}

.sub-menu.student li span[class^="icon-"] {
	font-size:2em;
	margin-bottom:5px;
}

.sub-menu li .title {
	font-size:0.8em;
	color:#adadad;
	line-height:1.2;
	hyphens:auto;
}

.sub-menu li .title .tag {
	display:block;
	color:#FFF;
	background:#ec297b;
	font-size:0.9em;
}

.pic-profile {
	border-radius:50%;
	background:#d3d3d3;
	border:solid 3px white;
}

.pic-profile.big {
	width:180px;
	height:180px;
	display:block;
	margin:0 auto;
}

.pic-profile.menu {
	min-height:140px;
	max-height:140px;
	text-align:center;
}

.pic-container {
	margin:0 auto;
	position:relative;
	bottom:30px;
	text-align: center;
}

.pic-container:before {
	content:'';
	position:absolute;
	border-radius:50%;
	width:130px;
	height:130px;
	top:5px;
	left:50%;
	background:white;
	margin: 0 auto;
	display: block;
	transform: translateX(-50%);
}

.clip-circle-menu {
  	clip-path: circle(60px at center);
  	position:relative;
}

.user-info {
	color:#ec297b;
	text-align:center;
	margin-top:-15px;
}

.user-name {
	text-transform:uppercase;
}

/*====*/

#main {
	padding:0 !important;
	min-height:100vh;
	background-size:cover
}

.banner {
	height:200px;
	color:#FFFFFF;
	padding:30px 60px;
}

.banner.joinus {
	background:url(../img/joinus_bg.png) center no-repeat;
	background-size:cover;
}

.banner.pre-medios {
	background:url(../img/banner_pre-medios.jpg) center no-repeat;
	background-size:cover;
	display:flex;
	flex-direction:column;
}

.banner[class*="pre"] > * {
	margin-top: auto;
	align-self: flex-start;
}

.item-container {
	text-align:center;
}

.item-container span[class^="icon-"] {
	font-size:5em;
	color:#ec297b;
	margin-bottom:35px;
	display:block;
}

.item-container p {
	margin-bottom:30px;
}

.shortcuts-container {
	text-align:center;
	color:#FFFFFF;
	margin-bottom:60px;
}

.shortcuts-container:hover {
	cursor:pointer;
}

.shortcuts-container:hover h5 {
	text-decoration:underline;
}

.shortcuts-container span[class^="icon-"] {
	font-size:3em;
	color:#ec297b;
	margin-bottom:10px;
	display:block;
}

.studentModule {
	height:100vh;
	display:flex;
	flex-direction:column;
}

.studentModule .info {
	margin-top:auto;
	align-self:flex-start;
	padding:50px;
}

.nav-tabs {
	display:table;
	height:100%;
}

.nav-tabs > li {
	padding:0;
	display: table-cell;
	float: none;
	height: 100%;
}

.nav-tabs > li {
	color:#FFFFFF;
	background:#652d8f;
	margin:0;
	border-radius:0;
	border:solid 1px white;
	height: 100%;
	display: table-cell;
}

.nav-tabs > li {
	background:#652d8f;
	text-decoration:underline;
}

.nav-tabs > li.active,
.nav-tabs > li.active:hover,
.nav-tabs > li.active:focus {
	background:#ec297b;
	color:#FFF;
	border:solid 1px white;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	background:none;
	color:#FFF;
	border:none;
	display:block;
	height:100%;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	background:none;
	color:#FFF;
	border:none;
}

.tab-content {
	background:#652d8f;
	color:#FFFFFF;
}

.tab-text {
	padding:30px;
	display: table-cell;
	float: none;
}

.tab-image {
	background:url(../img/tab-bg_pre-medios.png);
	background-size:cover;
	height:100%;
	display: table-cell;
	float: none;
	width: 50%;
}

form#contact {
	color:#000000;
	border-radius:5px;
	background:#FFFFFF;
	padding:15px;
}

/*====*/

.blog-hightlight .post-title {
	color:#ec297b;
}

.blog-hightlight .post-info {
	margin-top:10px;
	color:#B4B4B4;
	font-size:0.8em;
}

.blog-hightlight .post-text {
	margin-bottom:30px;
}

.blog-post {
	height:220px;
	color:#FFFFFF;
	display:table;
	background:linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}

.blog-post:hover {
	cursor:pointer;
	color:#ec297b;
}

.blog-post .post-content {
	vertical-align:bottom;
	display:table-cell;
	padding-bottom:10px;
}

.blog-post .post-info {
	color:#B4B4B4;
	font-size:0.8em;
}

/*====*/

#footer {
	background:#331748;
	color:#f3f3f3;
	font-size:0.9em;
	padding:30px 15px 10px 15px;
	text-align:center;
}

/*====*/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#main {
		padding-top:40px !important;
	}

	#side-menu, .sub-menu {
		min-height:calc(100vh - 40px);
		top:40px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	button {
		font-size:1.2em;
	}

	.banner {
		padding:30px 30px;
		height:auto;
	}

	#main {
		padding-top:40px !important;
	}

	#side-menu, .sub-menu {
		height:calc(100vh - 40px);
		top:40px;
	}

	.sub-menu li .title {
		font-size:0.7em
	}

	.sub-menu li .title .tag {
		font-size:0.8em;
	}

	.studentModule .info {
		padding:15px;
	}

	.start-video {
		float:none !important;
	}

	.purple-bg {
		background:#652d8f;
		padding:30px 30px;
	}

	.videoWrapper {
		position: relative;
		padding-bottom: 56.6% !important; /* 16:9 */
		height: 0;
	}

	#footer {
		font-size:0.7em;
	}
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.30%; /* 16:9 */
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}